version: "3.9"
services:
  create-admin:
    build: ./backend
    env_file: .env
    command: python scripts/create_admin.py
    environment:
      - POSTGRES_HOST=host.docker.internal
      - POSTGRES_PORT=5433
      - REDIS_URL=redis://host.docker.internal:6379/0
      - ADMIN_USERNAME=admin
      - ADMIN_PASSWORD=admin
      - ADMIN_EMAIL=admin@example.com
    network_mode: host