version: "3.9"
services:
  db:
    image: postgres:15
    env_file: .env
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  cache:
    image: redis:7
    volumes:
      - redis-data:/data
    networks:
      - app-network

  backend:
    build: ./backend
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      cache:
        condition: service_started
    networks:
      - app-network
    environment:
      - POSTGRES_HOST=db
      - REDIS_URL=redis://cache:6379/0

  frontend:
    build: ./frontend
    env_file: .env
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-network
    environment:
      - NEXT_PUBLIC_BACKEND_HOST=http://backend:8000

volumes:
  db-data:
  redis-data:

networks:
  app-network:
    driver: bridge